<ion-header>
  <ion-navbar>
    <ion-title>Ask a Question! | {{ currentCategory }}</ion-title>
  </ion-navbar>
<div padding>
  <ion-segment [(ngModel)]="messageType">
      <ion-segment-button value="all" (click)="fetchQuestions('all')">
        All
      </ion-segment-button>
      <ion-segment-button value="open" (click)="fetchQuestions('open')">
        Open
      </ion-segment-button>
      <ion-segment-button value="closed" (click)="fetchQuestions('closed')">
        Closed
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>
<ion-content delegate-handle="mainScroll">
  <div [ngSwitch]="messageType">
    <ion-card *ngFor="let question of questions | async">
        <ion-item [ngStyle]="{color: getColor(question)}"> 
            <ion-label>
              <div *ngIf="question.closed;else open">Closed! : {{ question.date_closed | date:'medium' }}</div>
              <ng-template #open>Open</ng-template>
            </ion-label>
            <button ion-button color="secondary" (click)="sendQuestionUpdate(question, 'closed')" item-right clear><ion-icon name="beer"></ion-icon>Close</button>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="question.image">
          </ion-avatar>
          <h2>{{ user.details.name }}</h2>
          <h3>Category: {{ question.category }}</h3>       
          <button ion-button color="danger" (click)="sendQuestionDelete(question.$key)" item-right round>Delete</button>
        </ion-item>
        <ion-item>
          {{ question.open_date | date:'medium' }}
        </ion-item>
        <ion-card-content>
          {{ question.question }}
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div (click)="sendQuestionUpdate(question, 'likes')"> {{ question.likes }} </div>
            </button>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-down"></ion-icon>
              <div (click)="sendQuestionUpdate(question, 'dislikes')"> {{ question.dislikes }} </div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
  </div>
</ion-content>
<ion-footer padding>
  <form (ngSubmit)="onSubmitMsg()">
    <ion-item>
      <ion-input type="text" name="msg" [(ngModel)]="msg" (click)="handleMsg()">test</ion-input>
      <ion-select [(ngModel)]="currentCategory" name="selectCategories" item-right>
        <ion-option *ngFor="let category of categories" [value]="category">{{ category }}</ion-option>
      </ion-select>
      <button ion-button type="submit" item-right round><ion-icon name="arrow-dropup"></ion-icon></button>
    </ion-item>
  </form>
</ion-footer>