<ion-header>
  <ion-navbar>
    <ion-title>Question Archive</ion-title>
  </ion-navbar>
<div padding>
  <ion-segment [(ngModel)]="messageType">
      <ion-segment-button value="all" (click)="fetchQuestions('all')">
        All
      </ion-segment-button>
      <ion-segment-button value="open" (click)="fetchQuestions('open')">
        Open
      </ion-segment-button>
      <ion-segment-button value="closed" (click)="fetchQuestions('closed')">
        Closed
      </ion-segment-button>
  </ion-segment>
</div>
</ion-header>
<ion-content delegate-handle="mainScroll">
  <div [ngSwitch]="messageType">
    <ion-card *ngFor="let question of questions | async | reverse" (click) = "onQuestionClick(question)">
        <ion-item>
            <ion-label>
              <ion-item style='color:red' *ngIf="count[question.$key]>0"><ion-icon name="ios-alert-outline" item-left></ion-icon>{{ count[question.$key] }} New Answers</ion-item>
              <ion-item [ngStyle]="{color: getColor(question)}" *ngIf="question.isClosed;else open">Closed! : {{ question.closedOn | date:'medium' }}<ion-icon name="beer" item-right></ion-icon></ion-item>
              <ng-template #open>Open</ng-template>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar item-start>
            <img [src]="question.userPhotoURL || 'http://i.onionstatic.com/avclub/5495/73/16x9/960.jpg'">
          </ion-avatar>
          <h2>{{ displayName }}</h2>
          <h3>Topic: {{question.subject}}: {{ question.topic }}</h3>       
        </ion-item>
        <ion-item>
          {{ question.createdOn | date:'medium' }}
        </ion-item>
        <ion-card-content>
          {{ question.questionBody }}
        </ion-card-content>
        <ion-item>
          <button *ngIf="question.isClosed" ion-button color="danger" (click)="sendQuestionDelete(question.$key)" item-right round>Delete</button>
        </ion-item>
      </ion-card>
  </div>
</ion-content>
